
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  background-color: #F4F7F9;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b, strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
 /* header styles */
 header{
     height:60px;
     background-color: #2D5c92;
     width: 100%;
     display: flex;
     align-items: center;
     padding: 0px 20px;
 }
 .heder_link{
    display: inline-block;
    color: #FFF;
    line-height: 58px;
    margin-right: 20px;
    opacity: 0.8;
 }
 .heder_link:hover{
     opacity: 1;
     color: #FFF;
     text-decoration: none;
 }
 .autorization, .registration{
     padding:5px 10px;
     border-radius: 10px;
     background-color: #fff;
    text-align: center;
    color: #000;
   
 }
 .registration{
    background-color: #007bff;
    color: #fff;
    
 }
 .autorization:hover, .registration:hover{
    text-decoration: none;
    
}
.autorization:hover{
    color: #000;
    box-shadow: inset 0 0 10px rgb(4, 44, 87, 0.8);
}
.registration:hover{
    color: #fff;
    box-shadow: inset 0 0 10px rgb(4, 44, 87, 0.5);
}
.Logo{
    font-size: 24px;
    color:#fff;
}
.Logo{
    font-size: 24px;
    color:#fff; 
    text-decoration: none    
}
.Logo span{
   color: #f89911;
}
.Logo:hover{
    color: #f89911;
    text-decoration: none    
}
.header_title{
    color: #f89911;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}
.header_title span{
    color: #fff;
}
.card-body{
  padding: 15px;
  border:1px solid #D3D7DC;
  margin-top: 20px;
  background-color: #FFF;
}
.submit_button{
  margin: 0 auto;
  text-align: center
}
.card-body h5{
  text-align: center;
  margin-bottom: 20px;
  color: #465160;
}
.card-body h5 span:first-child{
  color: #f89911;
}
.card-body h5 span:last-child{
  color: #000;
}
.block_news{
  background-color: #FFF;
  border:1px solid #D3D7DC;
}
.block_news{
  margin-top: 20px;
  padding: 15px ;
}
.block_news h5{
  color: #2C5C92;
}
.block_news a p{
  margin: 0px;
}
.block_news a p:nth-child(1){
  color: #999DA4;
}
.block_news a p:nth-child(2){
  color: #465160;
  border-bottom:1px solid #D3D7DC;
  padding-bottom: 20px;
}
.block_news a:hover p{
  text-decoration: none;
  color: #f89911;
}
.block_news a:hover {
  text-decoration: none;

}
.new_people_servis{
  background-color: #FFF;
  border-bottom: 1px solid #D3D7DC;
  height: 150px;
  
}
.new_people_servis{
  padding: 10px;
  margin: 0px;
}
.label_new_people {
  background: #f89911;
  position: relative;
  height: 100%;
  border-radius: 20px;
  padding: 0px;
 }
 .label_new_people::after {
  content: '';
  position: absolute;
  right: -42px;
  top: 50%;
  transform: translateY(-50%);
  border: 26px solid transparent;
  border-left: 20px solid #f89911;
  border-radius: 10px;
  z-index: 20;
 }
 .label_new_people p{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 }
 .gallery_list{
   display: flex;
   flex-direction: row;
   list-style: none;
 }
 .content{
   margin-top: 20px;
 }
.new_people_servis ul{
  height: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
 
}
.new_people_servis ul li{
  height: 100%;
  position: relative;
  padding-right: 0px;
  
}
.new_people_servis ul li a img{
  width: 100%;
  height: 100%;
  position: relative;
}
.new_people_servis ul li a div{
  position: absolute;
    bottom:-85%;
    z-index: 10;
    background-color: #f89911;
    padding: 10px;
    visibility: hidden;
    width:100%;
    /* transition: 0.1s; */
    border-radius: 10px;
}
.new_people_servis ul li a div:before {
  content: ""; 
  border: solid transparent;
  position: absolute; 
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  border-bottom-color: #f89911;
  border-width: 9px;
  margin-right: -1px;
}
.new_people_servis ul li a:hover{
text-decoration: none
}
.new_people_servis ul li a:hover >div{
visibility: visible;
}
.new_people_servis ul li a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

}
.new_people_servis ul li a div p, .new_people_servis ul li a div span{
  margin: 0px;
  font-size: 12px;
  color: #fff;
}
.prew_card_titl{
  color: #FF2F2F!important;
  font-weight: bold;
}
.prew_card_name{
  padding: 0px;
  display: block;
}
.prew_card_city{
  float: right;
}
#map{
  width: 100%;
  height: 500px;
  margin-top:20px;
  padding: 15px;
}